.wrapper {
  width: 75%;
  margin: 10% auto;
}

.wrapper h2 {
  text-align: center;
  color: #707070;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 社員番号とパスワード入力欄 */
.form .number {
  text-align: center;
  margin-bottom: 3%;
  font: sans-serif;
  font-size: 18px;
  box-sizing: border-box;
  width: 75%;
  padding: 0.3em;
  transition: 0.3s;
  letter-spacing: 1px;
  color: #707070;
  border: none;
  border-bottom: 2px solid #aaaaaa;
  background: transparent;
  outline: none;
}

.form .pass {
  text-align: center;
  margin-bottom: 3%;
  font: sans-serif;
  font-size: 18px;
  box-sizing: border-box;
  width: 75%;
  padding: 0.3em;
  transition: 0.3s;
  letter-spacing: 1px;
  color: #707070;
  border: none;
  border-bottom: 2px solid #aaaaaa;
  background: transparent;
  outline: none;
}

.form .pass-link {
  text-decoration: none;
  color: #707070;
  margin-left: 50%;
  border-bottom: 2px solid #aaaaaa;
  cursor: pointer;
}

.form .pass-link:hover {
  border-bottom: 2px solid black;
  color: #000000;
}

button {
  margin-top: 5%;
  width: 30%;
  padding: 10px;
  border-radius: 100vh;
  color: white;
  background-color: #707070;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #444343;
}
